*{
    text-align: center;
    font-family: monospace;
}
body{
    background-color: #394461;
}
h1{
    background-color: #181f32;
    color: #fdfefe;
    text-align: right;
    padding: 0.5;
    font-size: 25px;
    border-radius: 10px;
}
input{
    background-color: #eae3d8;
    border-radius: 10px;
    width: 90%;
    font-size: 17px;
    margin: 2px;
}
.userinput{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
button{
    background-color: #fd13f3;
    color: #fdfefe;
    border-radius: 10px;
    width: 90%;
    margin: 2px;
    font-size: 15px;
    
}
.userbutton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: #252d44;
    border-radius: 10px;
    padding: 7px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.calc{
max-width: 400px;
    margin: auto;
}
